   <footer class="page-footer" id="footer" style=" bottom: 0;width: 100%;">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">made with 	<i class="inline-icon material-icons red-text">favorite</i></h5>
                <p class="grey-text text-lighten-4"><i class="inline-icon material-icons  ">mail</i> on vikrantgoutam17@gmail.com.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">contact us on</h5>
                <a href="https://www.facebook.com/vikrantgoutam1999" class="fa fa-facebook" target="_blank"></a> &nbsp;
                <a href="https://twitter.com/goutam_vikrant" class="fa fa-twitter" target="_blank"></a> &nbsp;
                <a href="https://www.instagram.com/its_goutam16" class="fa fa-instagram" target="_blank"></a> &nbsp;
                <a href="https://www.linkedin.com/in/vikrant-kumar-goutam-18240714b/" class="fa fa-linkedin" target="_blank"></a> &nbsp;
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 all rights reserved
           
            </div>
          </div>
        </footer>
           
