
        <li><a href="/"  class="waves-effect waves-light btn" id="Login">Home</a></li>

        {% if user.is_authenticated %}
             <li><a href="/{{user.username}}/profile"  class="waves-effect waves-light btn" id="Login">{{user.username|title}}</a></li>
              <li><a href="/addblog"  class="waves-effect waves-light btn" id="Login">ADD BLOG</a></li>
              <li><a href="/delete"  class="waves-effect waves-light btn" id="Logout">Delete</a></li>
              
             <li><a href="/logout"  class="waves-effect waves-light btn" id="Logout">Logout</a></li>
        {% else %}
            <li><a href="/login"  class="waves-effect waves-light green-darken-3 btn" id="Login">Login</a></li>
            <li><a href="/register"  class="waves-effect waves-light btn" id="Login">Register</a></li>
        {% endif %}        
     