
{% extends "blogs/header.html" %}
{% block content %}
<div class="container" style="min-height:500px">
<div style="border-style: solid; padding:5px; border-width: medium; max-width:1000px; margin:auto;">
<h2 style="font-size:40px; color:white;">DO YOU REALY WANT TO DELETE</h2>
  <form method="post" name="forms">
  {% csrf_token %}
     <center><button class="btn waves-effect waves-light" type="submit" name="action" id="logout">CONFIRM
  
  </button>
  &nbsp;  &nbsp; &nbsp;  <a href="/"  class="waves-effect waves-light btn" id="Login">cancel</a>
  </center>
  </form>
       
  </div>
  </div>
   {% include 'blogs/includes/footer.html' %}  
{% endblock %}